<div style="
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 50% 50%;
    grid-template-columns: 34% 33% 33%;
    position: absolute;
    top: 0;
    left: 0;
">
  <drm-dynamic-loading component="component1">
    <drm-loaded-content>component1</drm-loaded-content>
  </drm-dynamic-loading>
  <!-- standard spinner with custom color (supports all html colors) -->
  <drm-dynamic-loading component="component2" color="green">
    <drm-loaded-content>component2</drm-loaded-content>
  </drm-dynamic-loading>
  <drm-dynamic-loading component="component3">
    <drm-loaded-content>component3</drm-loaded-content>
  </drm-dynamic-loading>
  <drm-dynamic-loading component="component4">
    <drm-loaded-content>component4</drm-loaded-content>
  </drm-dynamic-loading>
  <drm-dynamic-loading component="component5">
    <drm-loaded-content>component5</drm-loaded-content>
  </drm-dynamic-loading>
  <drm-dynamic-loading component="component6">
    <drm-loaded-content>component6</drm-loaded-content>
    <!-- this is for custom loading spinners -->
    <drm-custom-loading-spinner>
      <img src="https://media.giphy.com/media/13gvXfEVlxQjDO/giphy.gif" width="100">
    </drm-custom-loading-spinner>
  </drm-dynamic-loading>
</div>
<button (click)="startLoading()">Start loading</button>
<!-- this starts when the first loader starts and ends when the last loader ends -->
<drm-dynamic-loading color="red"></drm-dynamic-loading>

